[paths]
home = {{ cwd }}
upload = ${home}/uploads
script = ${home}/scripts
out = ${home}/out

[general]
debug = {{ debug }}
hostname = ows-server
index_page = This comment will be on the first page
header_label = OWS
users = Brecht,Elke,Ilham,Julie,Ayla,Michaël,Lindsey
storage_secret = 53e65eb53f10cab651d836e2831605d1
download_lbl = Download
delete_lbl = Delete

[uploader]
max_file_size = 1 * MB #you can specify KB, MB or GB
max_files = 2
label = Upload 2 files you want to compare

[scripts]
test = ${paths:script}/merge_csvs.py
startpaketten = ${paths:script}/stp/script.py
test2 =  ${paths:script}/tst/merge_csvs_pandas.py

[comment]
test = Dit script gaat 2 csv's samenvoegen. Het resultaat kan orden gedownload.
startpaketten = 2 xlsx worden vergeleken
test2 = zelfde als test, maar dan met de pandas library

