[paths]
home = {{ cwd }}
upload = ${home}/uploads
script = ${home}/scripts
out = ${home}/out

[general]
debug = {{ debug }}
hostname = ows-server
index_page = OWS - Online Web Services
header_label = OWS
users = Brecht,Elke,Ilham,Julie,Ayla,Michaël,Lindsey
storage_secret = 53e65eb53f10cab651d836e2831605d1 #date +%s | sha256sum | head -c 32
download_lbl = Download
delete_lbl = Delete

[uploader]
max_file_size = 1 * MB #you can specify KB, MB or GB
max_files = 2
label = Upload 2 files you want to compare

[uploader_startpakketten]
max_file_size = 1 * MB
upload_1_label = Upload het predeliberatie bestand. Rechtstreekse export uit Sisa
upload_1_name = prediberatie
upload_2_label = Upload het Dasbhoard inschrijvingen bestand. Rechtstreekse export uit Sisa
upload_2_name = dashboard_inschrijvingen

[scripts]
startpakketten = ${paths:script}/production/startpakketten/script.py


[comment]

startpakketten = Deze functie controleert de startpakketten van studenten in drempelteller 1 met de inschrijvingen in drempelteller in uit het Dasbhoard Inschrijvingen.


