[Unit]
Description=OWS Web Application Server
After=network.target

[Service]
User=ubuntu
#Group=www-data
WorkingDirectory=/home/ubuntu/ows-server/
ExecStart=/usr/bin/python3 ows_serverv2.py
Restart=always

[Install]
WantedBy=multi-user.target
